{% extends "base.html" %}
{% block title %}Your Tasks{% endblock %}
{% block main %}
    <h1>Hello {{ name }}</h1>
    <p>Your current tasks are:
    <ul>
        {% for t in tasks %}
        <li>[{{ t.id }}] {{ t.description }}
            {% if t.done %}
            <i class="fa fa-check" aria-hidden="true"></i>
            {% else %}
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </p>
{% endblock %}